
#uvWidget{
    margin: 2em 2em 0 2em ;
    height: 60%;
    @include desktop{
        flex-grow: 1;
        margin-top: 8rem;
        h2{
            display: none;
        }
    }
    
}
.chart-container {
    @include tablet{
        position: relative;
        margin: auto;
        height: 65vh;
        width: 65vw;
    }
    @include desktop{
        position: relative;
        margin: auto;
        height: 40%;
        width: 25vw;
    }
}

.uvProtection{
    font-size: 2vmin;
    margin: 0 2em;
    height: 40%;
    @include desktop{
        flex-grow: 1;
        font-size: 2vmin;
        margin-top: 0;
    }
    p{
        margin: 0 1em;
    }
}

.lowProtectionRule,.moderateProtectionRule, .highProtectionRule, .veryHighProtectionRule, .extremeProtectionRule{
    display: none;
}

asaid.container{
    @include desktop{
        flex-direction: column-reverse;
        margin: 0 15vw;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
    }
}

li{
    margin-bottom: 0.5em;
}


img{
    max-width: 100%;
    height: auto;
}
