#uvWidget{
    margin: 2em 2em 0 2em ;
}

.uvProtection{
    font-size: 2.5vw;
    margin: 0 2em;
    p{
        margin: 0 1em;
    }
}

.low, .moderate, .high, .veryHigh, .extreme{
    display: none;
}