*{
	box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0; 
    font-family: 'Quattrocento', serif;
    background-color: #eff9f9;

}

h1{
    margin-bottom: 0;
}

h2,h3,footer{
    font-family: 'Oswald', sans-serif;
    
}

h2{
  font-size: 3.5vw;  
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}