footer{
    background-color: $orange-peel;
    height: 6vh;
    margin-bottom: 0;
    .container{
        background-color: $orange-peel;
        height: 100%;
        flex-direction: row;
    }
    span{
        font-size: 3vmin;
        text-align: center;
        padding: 1.2vh 0;
        @include tablet{
            font-size: 2vmin;
        }
        @include desktop{
            font-size: 2vmin;
        }
        
        &.fa{
            color: white;
        }
    }
    a{
        align-self:center;
        margin-left: 1%;
        text-decoration: none;
        color: $baltic-see;
    }
        
    a:visited{
            color: black;
    }
    a:hover{
            text-decoration: none;
            color: black;        
    }
    
}

