footer{
    background-color: map-get($layout-colors,footer);
    height: 6vh;
    span{
        font-size: 2vmin;
        text-align: center;
        padding: 1.2vh 0;
    }
    a{
        text-decoration: none;
        color: map-get($text-colors,footer);
    }
        
    a:visited{
            color: black;
    }
    a:hover{
            text-decoration: none;
            color: black;
        
    }
    
}
