header, header .container{
    background-color: map-get($layout-colors, header);
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.sticky{
    position: fixed;
    z-index: 1;
}

h1{
    margin: 0;
    height: 100%;
    padding: 5vh 0;
    width: 50%;
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 6vw;
    .orange{
        color: white;
    }
}