article.front{
    @include tablet{
        background-color: #7DCDCD; 
    }
    @include desktop{
        background-color: #7DCDCD;
    }
}

.donaldSign{
    width: 100%;
    height: 100%;
    background-image: url(../images/TrumpSign_confidnet.png);
    transition: background-image 1s ease-in-out;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 3vmin;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    
    
    
    @include tablet{
        font-size: 1.8vmin;
        background-color:#7DCDCD;
        height: 80%;
    }
    @include desktop{
        font-size: 2vmin;
        background-color: #7DCDCD;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    p{  
        align-self: center;
        padding-top: 33vmin;
        @include tablet{
            padding-top: 19vmin;
        }
        @include desktop{
            padding-top: 28vmin;
            }    
         
        }
    }   


