article.front{
    @include tablet{
        background-color: #7DCDCD; 
    }
}

.donaldSign{
    width: 100%;
    height: 100%;
    background-image: url(../images/TrumpSign_confidnet.png);
    transition: background-image 1s ease-in-out;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 3vw;
    @include tablet{
        font-size: 2vw;
        background-color:#7DCDCD;
        height: 80%;
    }
    @include desktop{
        font-size: 2vw;
        background-color: #7DCDCD;
        height: 100%;
        width: 512px;
    }
    p{
        padding: 64% 0;
        margin: 0;
        @include tablet{
            padding: 55% 10%;
        }
        @include desktop{
            padding: 55% 10%;
        }
    }   
}