.arrow{
    display: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3rem 3rem 0 3rem;
    border-color: darken($monte-carlo, 13%) transparent transparent transparent;
    margin: auto;
    @include tablet{
        display: block;
    }
}
