button {
	display: block;
    margin: auto;
	outline: none;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
    width: 100%;
	padding: .7em;
	text-shadow: 0 4px 4px rgba(0,0,0,.25);
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em;
	border-radius: 0 0 .2em .2em;
    font-size: 1rem;
    

    &:active {
	   position: relative;
	   top: 1px;
    }

    &.orange{
	    color: $bridesmaid;
	    border: 0;
	    background: $orange-peel;
	    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, $blaze-orange), color-stop(1, $orange-peel));
        background: -webkit-linear-gradient(bottom, $blaze-orange 0%, $orange-peel 47%);
        background: -moz-linear-gradient(bottom, $blaze-orange 0%, $orange-peel 47%);
        background: -o-linear-gradient(bottom, $blaze-orange 0%, $orange-peel 47%);
        background: -ms-linear-gradient(bottom, $blaze-orange 0%, $orange-peel 47%);
        background: linear-gradient(to top, $blaze-orange 0%, $orange-peel 47%);
        }
    
    &.orange:hover {
        color: $bridesmaid;
	    border: 0;
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, $blaze-orange), color-stop(0.47, $orange-peel));
        background: -webkit-linear-gradient(top,$blaze-orange 0%, $orange-peel 47%);
        background: -moz-linear-gradient(top, $blaze-orange 0%, $orange-peel 47%);
        background: -o-linear-gradient(top, $blaze-orange 0%, $orange-peel 47%);
        background: -ms-linear-gradient(top, $blaze-orange 0%, $orange-peel 47%);
        background: linear-gradient(to bottom, $blaze-orange 0%, $orange-peel 47%);
        }
    
    &.orange:active {
	    color: $corvette;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, $blaze-orange), color-stop(0.47, $orange-peel));
        background: -webkit-linear-gradient(top,$blaze-orange 0%, $orange-peel 47%);
        background: -moz-linear-gradient(top, $blaze-orange 0%, $orange-peel 47%);
        background: -o-linear-gradient(top, $blaze-orange 0%, $orange-peel 47%);
        background: -ms-linear-gradient(top, $blaze-orange 0%, $orange-peel 47%);
        background: linear-gradient(to bottom, $blaze-orange 0%, $orange-peel 47%);
        }
    
    &.orangeButtonWrap{
        background-color:$monte-carlo;
        width: 100%;

    }
}

.forSmartphoneBtn{
    @include tablet{
            display: none;
      }
    @include desktop{
            display: none;    
    }
    
}
.forTabletAndDesktopBtn{
    display: none;
    margin-top: 2em;
    width: 70%;
    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
    @include tablet{
            display: block;
        }
    @include desktop{
            display: block;
    }
    
}