.dropDownMenu{
        display: none;
        z-index:1000000;
        background-color: aliceblue;
        font-size:0.8em;
        width:100%;
        position:absolute;
        top:15vh;
        text-align:center;
        background-color: #7DCDCD;
        @include desktop{
            display: flex;
            background-color: transparent;
            width: auto;
            position: static;
            flex-direction: row;
            
        }
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            @include desktop{
                align-self: center;
                margin-right: 3vw;
            }
        }
        li{ 
            display: block;
            font-family: Roboto, sans-serif;
            font-size: 1rem;
            text-shadow: 0 4px 4px rgba(0,0,0,.25);
	        color: $bridesmaid;
	        border: 0;
	        background: $orange-peel;
            padding: .7em;
            margin-top: 0.08em;
            margin-bottom: 0;
            @include desktop{
                display: inline-block;
                text-shadow: none;
                background:none;
                color: $orange-peel;
                font-family: 'Oswald', sans-serif;
                font-size: 1rem;
                letter-spacing: 0.1rem;
                &:nth-child(2){
                    display: none;
                }
            }
            
            &:hover{
                    cursor: pointer;
                    background: darken($orange-peel,2%);
                    @include desktop{
                        background: none;
                        transform: scale(1.1);
                }
            }
            a{
                text-decoration: none;
                color: white;
                @include desktop{
                    color: $orange-peel;
                }
                
            }
            a:hover{
                text-decoration: none;
                
            }
            a:visited{
                    color: white;
                    @include desktop{
                        color: $orange-peel;
                }
            }
            
        }
}
