/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
    height: 80vh;
    @include tablet{
        height: 85vh;
    }
    @include desktop{
        height: 85vh;
    }
    
}
	/* flip the pane*/
.rotation {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 100%;
}

/* flip speed goes here */
.flipper {
    width: 100%;
    height: 100%;
	transition-delay: 0.4s;
    transition-duration: 1.4s;
	transform-style: preserve-3d;
	position: relative;
    @include desktop{
        position: static;
    }
}

/* hide back of pane during swap */
.front, .back,  {
    height: 100%;
	backface-visibility: hidden;
    position: absolute;
	top: 0;
	left: 0;
    @include tablet{
        position: static;
        width: 50%;
    }
    @include desktop{
        position: static;
        width: 50%;
    }
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
    background-color: #eff9f9;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
    @include tablet{
        transform: none;
    }
    @include desktop{
        transform: none;
    }
}
