button{
    &.hamburger{
        visibility: visible;
        background:none;
        //position:absolute;
        //top:0;
        //left:0;
        //line-height:45px;
        //padding:5px 15px 0px 15px;
        color:white;
        border:0;
        font-size:1.4em;
        font-weight:bold;
        cursor:pointer;
        outline:none;
        z-index:10000000000000;
    }
    &.cross{
        visibility: hidden;
        background:none;
        //position:absolute;
        //top:0;
        //left:0;
        //padding:7px 15px 0px 15px;
        color:white;
        border:0;
        font-size:3em;
        line-height:65px;
        font-weight:bold;
        cursor:pointer;
        outline:none;
        z-index:10000000000000;
    }
}



