button{
    &.hamburger{
        visibility: visible;
        background:none;
        width: 25%;
        color:$bridesmaid;
        border:0;
        font-size:1.4em;
        font-weight:bold;
        cursor:pointer;
        outline:none;
        z-index:10000000000000;
        @include desktop{
            display: none;
        }
            
    }
    &.cross{
        visibility: hidden;
        background:none;
        width: 25%;
        color:$bridesmaid;
        border:0;
        font-size:3em;
        line-height:65px;
        font-weight:bold;
        cursor:pointer;
        outline:none;
        z-index:10000000000000;
        @include desktop{
            display: none;
        }
    }
}


