@keyframes stand{
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -1536px;
    }
}

.movingTrump{
    display: none;
    @include desktop{
         display: block;
         width: 256px;
         height: 256px;
         background-image: url(../images/TrumpIddle.png);
         background-position: 0 0;
         animation: stand 0.8s steps(6) infinite;
         transform: scale(0.6);
         zoom:0.6;
         align-self: center;
        
    }
    
}
