button {
	display: block;
    margin: auto;
	outline: none;
	cursor: pointer;
	font: 14px/100% Arial, Helvetica, sans-serif;
    width: 100%;
	padding: .7em;
	text-shadow: 0 4px 4px rgba(0,0,0,.25);
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em;
	border-radius: .2em;
}

button:active {
	position: relative;
	top: 1px;
}

.orange{
	color: #fef4e9;
	border: 0;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a')
}
.orangeButtonWrap{
    background-color:#7dcdcd;
    width: 100%;

}