$orange-peel:#FF9900;
$blaze-orange:#FF6600;
$white:#FFFFFF;
$black-squeeze:#eff9f9;
$baltic-see: #2A2630;
$monte-carlo:#7DCDCD;
$bridesmaid: #fef4e9;
$corvette: #fcd3a5;
$search-box-focus-color: #4d90fe;